# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# general
dist/
build/


backend/generated_docs/
node_modules/
.DS_Store